<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/store">
        Nombre:
        <input type="text" name="txtNombre" id="txtNombre"> <br>
        Apellido:
        <input type="text" name="txtApellido" id="txtApellido"><br>
        Correo:
        <input type="text" name="txtCorreo" id="txtCorreo"><br>
        Tema:
        <input type="text" name="txtTema" id="txtTema"><br>
        Fecha de Alta:
        <input type="text" name="txtFecha" id="txtFecha"><br><br>
        <input type="submit" value="Agregar">
       </form>
</body>
</html>